/* body{ display: flex;justify-content: center;}
.one{width: 1000px;height: 700px; margin: 50px; margin-top: 125px; margin-bottom: 25px;display: flex;justify-content:space-evenly;gap:150px;justify-content: center;}
p{color: crimson;}
#two{background-color: aqua;width: 300px;height: 300px;}
#three{background-color: blueviolet;}
#four{background-color: chartreuse;}
h1{display: flex;color: coral;justify-content: center;} */

#mine{color: blue;}
#u{color: brown;}
#siva{color: deeppink;}
.you{width: 400px;height: 400px;background-color: aqua;text-align: center;justify-content: center;}

