
.siva{ text-align:centre; margin-left: 400px;margin-right: 400px; margin-bottom: 200px;
background-color: rgb(176, 180, 233);}
#mine{color:red}
#u{color: rgba(24, 158, 215, 0.646); background-color: darkslategray;}
.a{text-align: center;}
.one{color: deeppink;}
#siva{color: rgb(237, 175, 18);background-color: aqua;margin-left: 400px;margin-right: 400px;text-shadow: 20px;}
*{font-style: italic;color: red;}